@import '../../media-queries.scss';

.cart-container {
    position: fixed;
    right: 0;
    width: 35%;
    background: #efe2cf;
    height: 150vh;
    top: 50%;
    z-index: 10;
    transform: translate(0% , -50%);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4%;
    padding-top: 100px;
    min-width: 600px;

    @include lt-md {
      min-width: unset;

    }
    .mobile-close-cart {
        display: none;

        @include lt-md {
            display: block;
            position: fixed;
            right: 20px;
            top: 5%;
            font-size: 25px;
            background: transparent;
            border: none;
            cursor: pointer;

        }

    }
    
    @include lt-md {
        padding: 10px;
        width: 100%;
        height: 100vh;
        border-radius: 0;

        z-index: 40;
    }

    .inner-cart-container {
        width: 500px;

        @include lt-md {
            width: 90%;
            width: 100%;
        }
    }

    .cart-header-title {

        font-size: 35px;
        font-family: "FlameFont";
        color: #502314;
    }

}

.cart-overlay {

    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background: #5b231391;
    top: 0;
    left: 0;
}