@import '../../media-queries.scss';

.product-lists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;


    @include lt-lg {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0px;
    }

    @include lt-md {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0px;
    }


}
