@import '../../media-queries.scss';


.page-title {
    font-size: 45px;
    font-family: "FlameFont";
    color: #8f3f24;
    margin-bottom: 50px;
}
.order-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    
    @include lt-lg {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
    }

    @include lt-md {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
    }
    
    @include lt-sm {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 10px;
    }


}