@import '../../media-queries.scss';

.menu-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  50px 0px;
    
    @include lt-md {
        padding: 10px;
    }


    .left-section {
        display: flex;
        align-items: center;


        h2 {
            font-size: 30px;
            font-weight: 900;
            margin: 0;
            cursor: pointer;

            .brand-icon {
                width: 80px;
  

            }
            span {
                font-weight: 300;
            }
        }


    }

    .center-section {
        @include lt-md {
            display: none;
         }
    }

    .right-section {

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 20;

        
        @include lt-md {
           display: none;
        }

        
        button {
            overflow: hidden;
            height: 70px;
            width: 70px;
            position: relative;
            border-radius: 20px;
            margin-right: 15px;
            border: none;
            font-size: 0;
            background: #f5efe6;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            cursor: pointer;

            &:first-letter {
                font-size: 50px;
                font-weight: 600;
                color: #502314;
            }

            &:active {
                transform: scale(0.9);
            }


            img {
                width: 40%;
            }
        }

        label {
            display: block;
            font-weight: 600;
        }


    }

}

.mobile-user-info {
    display: none;
    position: relative;

    @include lt-md {
        display: block;
    }

}

