@import-normalize;

@import './media-queries.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

@font-face {
  font-family: "FlameFont";
  src: url("../public/fonts/flame/Flame-Bold.woff");
}



body {
  background: #efe2cf;


}



body::-webkit-scrollbar-thumb {
  background: rgba(80, 35, 20, 0.1882352941);
  border-radius: 100px;
}

body::-webkit-scrollbar {
  width: 5px;
  background: #efe2cf;
}


.divider {
  border-top:1px solid #cdc5ba;
  margin: 10px 0px;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: auto;
  width: 95%;


    &::-webkit-scrollbar {
     
      display: none;
    }

    @include lt-md {
  
      height: 92vh;
      padding-bottom: 5vh;
      overflow-y: scroll;
      
  }


}



a {
  text-decoration: none;
  color: black;
}

.c-pointer {
  cursor: pointer;
}

.disabled {
  border: 2px solid #2c2c3133!important;
  color: #2c2c3133!important;
  cursor: default!important;
}

.disabled:active {
  transform: scale(1)!important;
}