@import '../../media-queries.scss';


.view-product-overlay {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: #efe2cf94;
}

.view-product-container {
    position: fixed;
    transform: translate(-50% , -50%);
    left: 50%;
    top: 50%;
    z-index: 101;
   
    @include lt-md {
        width: 100%;
        min-height: 100vh;
        overflow-y: scroll;
        border-radius: 20px;
        
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .view-product-inner-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f5ebdc;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        position: relative;
        
        @include lt-md {
            width: 100%;
            display: block;
            margin: auto;
            height: 100vh;
            overflow-y: scroll;
        }
    


    
        .view-image-product {
            width: 700px;
            height: 600px;
            background: #f8f1eb;
            max-width: 40vw;

            @include lt-md {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50vh;
                overflow: hidden;
                max-width: 100%;
            }

            .product-image {
                width: 100%;
                height: 500px;
                object-fit: cover;
                object-position: center;

                
                @include lt-md {
                    
                }

            }
        }
    
        .view-product-options {
            width: 500px;
            height: 600px;
            box-shadow: 0 2px 4px 0 rgb(80 35 20 / 10%);
            position: relative;

            @include lt-md {
                width: 100%;
                height: auto;
                position : static;
                margin-top: -50px;
            }

    
            .show-top {
                border-bottom: 1px solid #5023142e;
                h3 {
                    color: #502314;
                    font-size: 18px!important;
                }
            }

            .view-product-options-header {
                text-align: center;
                padding: 15px 0px;
                height: 50px;

                h3 {
                    color: #502314;
                    font-size: 0;
                }

            }
    
            .close-view-product {
                position: absolute;
                right: 20px;
                top: 7px;
                background: transparent;
                border: none;
                font-size: 25px;
                font-weight: 300;
                cursor: pointer;

                    
                @include lt-md {
                    position: fixed;
                    right: 30px;
                    top: 30px;
                }

            }

        
        }
    }
   
}

